<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>John Doe | {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset("images/icon.png") }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="min-h-screen flex flex-col">
        <div id="loader-wrapper" style="position: fixed; top: 0; left: 0; height: 100%; width: 100%; background-color: rgb(8, 8, 8);">
            <div class="loader-content">
                <span class="main-loader"></span>
                <span class="loading-title">{{ "loading"|trans }}</span>
            </div>
        </div>
        <div id="parcoursup-message">
            <div class="parcoursup-message-content rounded p-3 md:p-5 flex flex-col m-3">
                <div>
                    <h1 class="text-2xl font-bold mb-2">{{ "parcoursup.welcome"|trans }}</h1>
                    <span class="text-xl">{{ "parcoursup.content"|trans|raw }}</span>
                </div>
                <div class="mt-4">
                    <button id="close-parcoursup-message" class="rounded py-2 px-3 font-bold text-xl">{{ "parcoursup.close"|trans }}</button>
                </div>
            </div>
        </div>
        <div id="background"></div>
        {% block body %}{% endblock %}

        <script src="https://kit.fontawesome.com/ac8a9b7e7f.js" crossorigin="anonymous"></script>
    </body>
</html>
